################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitHoleNode/bin/Debug/RabbitHoleNode.vshost.exe
/packages
/RabbitHoleNode/obj/Debug
